@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Somewhere in the world<br />
    Earth, Milky Way<br />
    <abbr title="Phone">P:</abbr>
    Just do a telepathic connect
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@cameraarchive.com">Support@cameraarchive.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@cameraarchive.com">Marketing@cameraarchive.com</a>
</address>