@{
    ViewBag.Title = "Home";
}


    <h1>The Camera Archive</h1>
<p>This website is here to give you access to the greatest Camera Company Database done by a Georgian College Student.</p>
<p>It contains a variety of information about the Cameras (such as model, price, and megapixels) and their respective manufacturers (who's the CEO, number of employees, address, and phone number).</p>
<p>Data can only be modified by a Admin <small><i>(Coming soon)</i></small>.</p>